In [ ]:
############ import pandas and numpy for data manipulation############

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
%cd C:\Users\Dell\Downloads

C:\Users\Dell\Downloads

In [ ]:
########## read data files########

In [3]:
ir2=pd.read_csv('Iris.csv')

In [4]:
ir2.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
ir2.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [ ]:
##### categorical data convert into numericals #############

In [6]:
import category_encoders as ce

In [7]:
encoder=ce.OrdinalEncoder(cols=['Species'])
ir2=encoder.fit_transform(ir2)

In [8]:
ir2.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        1
1   2            4.9           3.0            1.4           0.2        1
2   3            4.7           3.2            1.3           0.2        1
3   4            4.6           3.1            1.5           0.2        1
4   5            5.0           3.6            1.4           0.2        1

In [ ]:
########## checking for Null values#######

In [9]:
ir2.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [ ]:
###Spliting Train data into Train and Test data sets,
###train data is for model bulding,
###test data is for checking model performance.#############

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
ir2_train,ir2_test=train_test_split(ir2,test_size=0.2,random_state=2)

In [ ]:
####Rearranging index after random selection from train and test data set###

In [14]:
ir2_train.reset_index(drop=True,inplace=True)
ir2_test.reset_index(drop=True,inplace=True)

In [ ]:
###Splitting data to independent variables data set and target variable data set####

In [17]:
x_train=ir2_train.drop(['Species'],1)
y_train=ir2_train['Species']
x_test=ir2_test.drop(['Species'],1)
y_test=ir2_test['Species']

In [19]:
# Import the AdaBoost classifier
from sklearn.ensemble import AdaBoostClassifier


# Create adaboost classifer object
abc = AdaBoostClassifier(n_estimators=50, learning_rate=1, random_state=0)

# Train Adaboost Classifer
model1 = abc.fit(x_train, y_train)


#Predict the response for test dataset
y_pred = model1.predict(x_test)

In [20]:
from sklearn.metrics import accuracy_score


# calculate and print model accuracy
print("AdaBoost Classifier Model Accuracy:", accuracy_score(y_test, y_pred))

AdaBoost Classifier Model Accuracy: 1.0

In [ ]:
########### print both correct and wrong predictions ##########

In [21]:
print(" correct predicition",accuracy_score(y_test,y_pred))

print(" worng predicition",(1-accuracy_score(y_test,y_pred)))

 correct predicition 1.0
 worng predicition 0.0

In [ ]:
################ program ends ########################

In [22]:
submission=pd.DataFrame((list(y_pred)),
                       columns=['Species'])

In [23]:
submission.to_csv(r'C:\Users\Dell\Downloads\sample_iris2.csv', index=False)