In [ ]:
#### import pandas and numpy for data manipulation############

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [ ]:
########## read data files########

In [3]:
ir=pd.read_csv('C:/Users/Nikhil Sukthe/Downloads/iris.csv')

In [4]:
ir.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
ir.shape

(150, 6)

In [6]:
ir.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [ ]:
##### categorical data convert into numericals #############33

In [7]:
import category_encoders as ce

In [8]:
encoder=ce.OrdinalEncoder(cols=['Species'])
ir=encoder.fit_transform(ir)

In [9]:
ir.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        1
1   2            4.9           3.0            1.4           0.2        1
2   3            4.7           3.2            1.3           0.2        1
3   4            4.6           3.1            1.5           0.2        1
4   5            5.0           3.6            1.4           0.2        1

In [ ]:
########## checking for Null values#######

In [10]:
ir.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [ ]:
###Spliting Train data into Train and Test data sets,
###train data is for model bulding,
###test data is for checking model performance.#############

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
ir_train,ir_test=train_test_split(ir,test_size=0.2,random_state=2)

In [ ]:
####Rearranging index after random selection from train data set###

In [13]:
ir_train.reset_index(drop=True,inplace=True)
ir_test.reset_index(drop=True,inplace=True)

In [29]:
###Splitting data to dependent variables data set and target variable data set####

In [14]:
x_train=ir_train.drop(["Species"],1)
y_train=ir_train["Species"]
x_test=ir_test.drop(["Species"],1)
y_test=ir_test["Species"]

In [ ]:
###### knn model buliding ######3

In [15]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, accuracy_score

In [16]:
classifier = KNeighborsClassifier(n_neighbors=3)

In [17]:
# Fitting the model
classifier.fit(x_train, y_train)

# Predicting the Test set results
y_pred = classifier.predict(x_test)

In [18]:
cm = confusion_matrix(y_test, y_pred)
cm

array([[14,  0,  0],
       [ 0,  8,  0],
       [ 0,  0,  8]], dtype=int64)

In [19]:
accuracy = accuracy_score(y_test, y_pred)*100
print('Accuracy of our model is equal ' + str(round(accuracy, 2)) + ' %.')

Accuracy of our model is equal 100.0 %.

In [ ]:
########### print both correct and wrong predictions ##########

In [20]:
print(" correct predicition",accuracy_score(y_test,y_pred))

print(" worng predicition",(1-accuracy_score(y_test,y_pred)))

 correct predicition 1.0
 worng predicition 0.0

In [ ]:
################ program ends ########################

In [27]:
submission=pd.DataFrame((list(y_pred)),
                       columns=['Species'])

In [28]:
submission.to_csv(r'C:\Users\Dell\Downloads\sample_iris1.csv', index=False)