In [ ]:
##Import pandas and numpy for data manipulation

In [1]:
import pandas as pd
import numpy as np

In [2]:
%cd "C:\Users\Dell\Downloads"

C:\Users\Dell\Downloads

In [ ]:
###Read  data files

In [3]:
wt=pd.read_csv('weather.csv')

In [4]:
wt.shape

(14, 6)

In [5]:
wt.dtypes

s.no            int64
Outlook        object
Temperature    object
Humidity       object
Windy            bool
Play Golf      object
dtype: object

In [ ]:
###Checking for number of unique values

In [6]:
wt.nunique()

s.no           14
Outlook         3
Temperature     3
Humidity        2
Windy           2
Play Golf       2
dtype: int64

In [7]:
wt['Humidity'].unique()

array(['High', 'Normal'], dtype=object)

In [8]:
wt["Humidity"]=np.where(wt["Humidity"]=="High",1,0)

In [9]:
wt['Windy'].unique()

array([False,  True])

In [10]:
wt["Windy"]=np.where(wt["Windy"]=="True",1,0)

C:\Users\Dell\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [11]:
wt['Outlook'].unique()

array(['Rainy', 'Overcast', 'Sunny'], dtype=object)

In [12]:
wt.dtypes

s.no            int64
Outlook        object
Temperature    object
Humidity        int32
Windy           int32
Play Golf      object
dtype: object

In [ ]:
####Creating dummies

In [13]:
wt_dummies=pd.get_dummies(wt["Outlook"],prefix="wt1",drop_first=[True])

In [14]:
wt_dummies

    wt1_Rainy  wt1_Sunny
0           1          0
1           1          0
2           0          0
3           0          1
4           0          1
5           0          1
6           0          0
7           1          0
8           1          0
9           0          1
10          1          0
11          0          0
12          0          0
13          0          1

In [15]:
wt=wt.drop(["Outlook"],1)

In [16]:
wt=pd.concat([wt,wt_dummies],1)

In [17]:
wt.dtypes

s.no            int64
Temperature    object
Humidity        int32
Windy           int32
Play Golf      object
wt1_Rainy       uint8
wt1_Sunny       uint8
dtype: object

In [18]:
wt['Temperature'].unique()

array(['Hot', 'Mild', 'Cool'], dtype=object)

In [19]:
wt1_dummies=pd.get_dummies(wt["Temperature"],prefix="wt1",drop_first=[True])

In [20]:
wt=pd.concat([wt,wt1_dummies],1)

In [21]:
wt1_dummies

    wt1_Hot  wt1_Mild
0         1         0
1         1         0
2         1         0
3         0         1
4         0         0
5         0         0
6         0         0
7         0         1
8         0         0
9         0         1
10        0         1
11        0         1
12        1         0
13        0         1

In [22]:
wt=wt.drop(['Temperature'],1)

In [23]:
wt.dtypes

s.no          int64
Humidity      int32
Windy         int32
Play Golf    object
wt1_Rainy     uint8
wt1_Sunny     uint8
wt1_Hot       uint8
wt1_Mild      uint8
dtype: object

In [24]:
wt['Play Golf'].unique()

array(['No', 'Yes'], dtype=object)

In [25]:
wt["Play Golf"]=np.where(wt["Play Golf"]=="Yes",1,0)

In [ ]:
###Checking for NAs

In [26]:
wt.isna().sum().sum()

0

In [ ]:
###Spliting Train data into Train and Test data sets,
###train data is for model bulding,
###test data is for checking model performance.

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
wt_train,wt_test = train_test_split(wt, test_size = 0.2,random_state=2)

In [ ]:
####Rearranging index after random selection from train data set

In [29]:
wt_train.reset_index(drop=True,inplace=True)
wt_test.reset_index(drop=True,inplace=True)

In [ ]:
###Splitting data to dependent variables data set and target variable data set

In [30]:
x_train=wt_train.drop(["Play Golf"],1)
y_train=wt_train["Play Golf"]
x_test=wt_test.drop(["Play Golf"],1)
y_test=wt_test["Play Golf"]

In [31]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(x_train, y_train)

GaussianNB()

In [33]:
y_pred = gnb.predict(x_test)

In [34]:
from sklearn import metrics
print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(y_test, y_pred)*100)

Gaussian Naive Bayes model accuracy(in %): 33.33333333333333

In [ ]:
######## program ends###############################################

In [34]:
Initial=pd.read_csv('weather.csv')

In [35]:
submission=pd.DataFrame(list(zip(Initial["s.no"],list(y_pred))),
                       columns=['s.no','Play Golf'])

In [36]:
submission.to_csv(r'C:\Users\Dell\Downloads\sample_weather1.csv', index=False)