In [ ]:
##Import pandas and numpy for data manipulation

In [1]:
import pandas as pd
import numpy as np

In [ ]:
###Read  data files

In [3]:
wt=pd.read_csv("C:/Users/Nikhil Sukthe/Downloads/weather.csv")

In [4]:
wt.shape

(14, 6)

In [5]:
wt.dtypes

s.no            int64
Outlook        object
Temperature    object
Humidity       object
Windy            bool
Play Golf      object
dtype: object

In [ ]:
###Checking for number of unique values

In [6]:
wt.nunique()

s.no           14
Outlook         3
Temperature     3
Humidity        2
Windy           2
Play Golf       2
dtype: int64

In [ ]:
########## converting to categorical to numerical##########

In [7]:

import category_encoders as ce

In [8]:
encoder = ce.OrdinalEncoder(cols=['Outlook', 'Temperature', 'Humidity', 'Play Golf','Windy'])

wt = encoder.fit_transform(wt)

In [9]:
wt.head()

   s.no  Outlook  Temperature  Humidity  Windy  Play Golf
0     0        1            1         1      1          1
1     1        1            1         1      2          1
2     2        2            1         1      1          2
3     3        3            2         1      1          2
4     4        3            3         2      1          2

In [10]:
wt.dtypes

s.no           int64
Outlook        int32
Temperature    int32
Humidity       int32
Windy          int32
Play Golf      int32
dtype: object

In [ ]:
###Checking for NAs

In [11]:
wt.isna().sum().sum()

0

In [ ]:
###Spliting Train data into Train and Test data sets,
###train data is for model bulding,
###test data is for checking model performance.

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
wt_train,wt_test = train_test_split(wt, test_size = 0.2,random_state=2)

In [ ]:
####Rearranging index after random selection from train data set

In [14]:
wt_train.reset_index(drop=True,inplace=True)
wt_test.reset_index(drop=True,inplace=True)

In [ ]:
###Splitting data to dependent variables data set and target variable data set

In [15]:
x_train=wt_train.drop(["Play Golf"],1)
y_train=wt_train["Play Golf"]
x_test=wt_test.drop(["Play Golf"],1)
y_test=wt_test["Play Golf"]

In [16]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(x_train, y_train)

GaussianNB()

In [17]:
y_pred = gnb.predict(x_test)

In [18]:
from sklearn import metrics
print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(y_test, y_pred)*100)

Gaussian Naive Bayes model accuracy(in %): 33.33333333333333

In [ ]:
##################program ends##################

In [34]:
Initial=pd.read_csv('weather.csv')

In [35]:
submission=pd.DataFrame(list(zip(Initial["s.no"],list(y_pred))),
                       columns=['s.no','Play Golf'])

In [36]:
submission.to_csv(r'C:\Users\Dell\Downloads\sample_weather1.csv', index=False)